<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.transporter" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>transporter</name><js-module name="transporter" src="www/transporter.js"><clobbers target="cordova.plugins.transporter" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="transporter"><param name="android-package" value="cordova.plugin.transporter.transporter" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><framework custom="true" src="src/android/transporter-sdk.gradle" type="gradleReference" /><source-file src="src/android/transporter.java" target-dir="src/cordova/plugin/transporter/transporter" /></platform></plugin>